phase1_content_engine_n8n.json
{
  "name": "Phase 1 - Content Engine (Reels)",
  "nodes": [
    {
      "parameters": {},
      "id": "221d8656-8508-4d46-ab2b-29414ac9803b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1728,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories?q=stars:%3E1000&sort=stars&order=desc",
        "options": {}
      },
      "id": "d086b7ac-a422-4323-b38e-26d642ac8b21",
      "name": "Fetch GitHub Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1504,
        112
      ]
    },
    {
      "parameters": {
        "functionCode": "const repos = items[0].json.items;\n\nreturn repos.slice(0, 5).map(repo => {\n  return {\n    json: {\n      topic: `${repo.name} – ${repo.description || \"Trending GitHub project\"}`\n    }\n  };\n});\n"
      },
      "id": "62e3adb5-2361-4afb-bcbb-7304e4ae5fb3",
      "name": "Extract Topics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1280,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://API_ENDPOINT_PLACEHOLDER",
        "jsonParameters": true,
        "options": {}
      },
      "id": "ac1598b4-8cd5-4153-9005-1ed8f8f1b9f5",
      "name": "Generate Reel Script (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1056,
        112
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { text: `🔥 *New Reel Script Proposal*\\n\\n*Topic:* ${$json.topic}\\n\\n*Script:*\\n${JSON.stringify($json, null, 2)}` }}];"
      },
      "id": "5d41f083-219f-4528-b711-6db0436e3573",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -848,
        112
      ]
    },
    {
      "parameters": {
        "chatId": "CHAT_ID_PLACEHOLDER",
        "text": "={{$json.text}}",
        "additionalFields": {}
      },
      "id": "72f92561-2c96-41a8-8f10-f363c7a12c50",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -624,
        112
      ],
      "webhookId": "52672867-6e88-4b93-80a0-b36338ea2228"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-approval",
        "options": {}
      },
      "id": "2c49b8a3-af7e-4963-8185-83ed43d03877",
      "name": "Telegram Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -416,
        112
      ],
      "webhookId": "092653a7-7302-45b2-98ac-86123fbf267b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.callback_query.data}}",
              "operation": "equals",
              "value2": "approve"
            }
          ]
        }
      },
      "id": "03f5d767-b4d5-4e03-99af-44b83eb17ec2",
      "name": "Approval Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "390e7518-4741-497d-8552-ec982dbffeae",
      "name": "Save Approved Script",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "d3bb99a9-619d-479b-98b4-548c64a341af",
      "name": "Rejected Script (Discard)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch GitHub Trending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GitHub Trending": {
      "main": [
        [
          {
            "node": "Extract Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Topics": {
      "main": [
        [
          {
            "node": "Generate Reel Script (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reel Script (LLM)": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Approval Webhook": {
      "main": [
        [
          {
            "node": "Approval Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Decision": {
      "main": [
        [
          {
            "node": "Save Approved Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected Script (Discard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "87cefc6d-5e69-4d99-a9e0-7f9f76b483be",
  "meta": {
    "instanceId": "e85afa3893d819f38ff91df15bf76793fcc1fa4097bb9c2741d7eca7686bcf04"
  },
  "id": "_G_prtj-5F_t6Tw35OwNj",
  "tags": []
}
